<!-- section-hero -->
<section class="hero-section">
    <div class="container container-hero">
        <div class="hero-vyshyvanka">
            <div class="blok-title-btn">
                <h1 class="hero-title">Reviving the traditional <span class="title-color">Ukrainian</span> artistry in
                    every stitch. </h1>
                <div class="btn-blok">
                    <button type="button" class="hero-button">Order</button>
                    <span class="strilka">
                        <svg class="icon-strilka" width="26" height="10">
                            <use href="./img/icons.svg#icon-arrow">
                            </use>
                        </svg>
                    </span>
                </div>

            </div>
            <div>
                <img srcset="./img/hero-img/hero-girl-desktop.jpg 392w, ./img/hero-img/hero-girl-desktop@2x.jpg 784w,
               ./img/hero-img/hero-girl-tab.jpg 413w, ./img/hero-img/hero-girl-tab@2x.jpg 826w, ./img/hero-img/hero-girl-mob.jpg 335w, 
               ./img/hero-img/hero-girl-mob@2x.jpg 670w"
                    sizes="(min-width: 1280px) 392px, (min-width:765px) 413px, (min-width: 375px) 335px"
                    src="./img/hero-img/hero-girl-mob.jpg" alt="Ukrainian-girl" class="pic-hero">
            </div>
        </div>
        <div class="star-map">
            <div class="star-text">
                <div class="star">
                    <svg class="icon-star" width="52" height="51">
                        <use href="./img/icons.svg#icon-star">
                        </use>
                    </svg>
                </div>

                <div class="text">
                    <p class="star-tittle">
                        all embroidery is made by hand
                    </p>
                </div>
            </div>
            <div class="map-Ukrain">

                <img src="./img/hero-img/hero-map.png" alt="map-of-Ukrain" width="157" class="icon-map">
                <div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="module" src="/main.js"></script>
</body>

</html>